<html>
    <body>
        
<tr>
    <th>
        <div class="card cards" style="width: 18rem;">
            <img src="../assets/img/2.jpg" height="300" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Mustafa Alwaeli</h5>
              <p class="card-text txtCard">Age : 22 <br>Students of UOITC</p>
              <a href="#" class="btn btn-dark">CV</a>
            </div>
          </div>
    </th>
    <th>
        <div class="card cards" style="width: 18rem;">
            <img src="../assets/img/3.jpg" height="300" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Mustafa Raad</h5>
              <p class="card-text txtCard">Age : 23 <br>Students of UOITC</p>
              <a href="#" class="btn btn-dark">CV</a>
            </div>
          </div>
    </th>
    <th>
        <div class="card cards" style="width: 18rem;">
            <img src="../assets/img/4.jpg" height="300" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Mohammed Ali </h5>
              <p class="card-text txtCard">Age : 22  <br> Students of UOITC</p>
              <a href="#" class="btn btn-dark">CV</a>
            </div>
          </div>
    </th>
    <th>
        <div class="card cards" style="width: 18rem;">
            <img src="../assets/img/5.jpg" height="300" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Mohammed Reda</h5>
              <p class="card-text txtCard">Age : 22 <br>Students of UOITC</p>
              <a href="#" class="btn btn-dark">CV</a>
            </div>
          </div>
    </th>
</tr>
         

          

    </body>
</html>
